<?xml version="1.0"?>
<!-- Note: As an alternative to hand editing this file you can use the web admin tool to configure settings for your application. Use the Website->Asp.Net Configuration option in Visual Studio. A full list of settings and comments can be found in machine.config.comments usually located in \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<!-- IMPORTANT!************************************************************* -->
	<!-- email settings for some automated email sent to admin-->
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup></sectionGroup></sectionGroup></configSections><appSettings>
		<add key="AdminEmail" value="{Your email address}"/>
            <!--Begin values for linkView video output-->
            <add key="VidFileUpload" value="C:\support\Linkview\upload\"/>
            <add key="VidFileConverted" value="C:\support\Linkview\converted\"/>
            <add key="OutputPath" value="C:\support\Linkview\ConvertedTemp\"/>
            <add key="TempPath" value="C:\support\Linkview\tmp"/>
            <add key="FolderPath" value="C:\support\Linkview\tmp\"/>
            <add key="FFMpegPath" value="C:\support\LinkView\LinkView-master\LinkView\Bin\ffmpeg.exe"/>
            <!--End values for LinkView video output-->
  
            <!--Used by Linkview API, needs localhost:port-->
            <add key ="url" value ="http://localhost:19146"/>
            <!-- Used by LinkView API-->
            <add key ="LVAPI" value="/api/LVAPI/"/>
            <add key ="SMTP" value="/api/SMTP/"/>
            <add key ="Register" value="/api/Register/"/>
            <add key ="FFMpeg" value="/api/FFMpeg/"/>
            <!-- Azure Blob Storage Account-->
            <add key ="Blob" value="{blob storage}"/>
          </appSettings>
 
	<!-- IMPORTANT!************************************************************* -->
	<!-- SQL Database connection string -->
	<connectionStrings>
    <!-- Login - admintest Pwd - Linkview11! -->
		<add name="ETU_common_Helper_Connection" connectionString="Data Source= {Database Name};Initial Catalog=Linkview;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Linkview" connectionString="Data Source= {Database Name};Initial Catalog=Linkview;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
		<add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
	</connectionStrings>
  
	<system.web>
    
		<httpRuntime executionTimeout="24000" maxRequestLength="2000000"/>
		<xhtmlConformance mode="Strict"/>
		<!-- IMPORTANT!************************************************************* -->
		<!-- setting session state to make "global.asax" online counter work -->
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<!-- IMPORTANT!************************************************************* -->
		<!-- SQLMembership USERS Provider - Add a customized SqlMembershipProvider. Note: the "second" provider is used by admin to be able to reset user passwords -->
		<membership defaultProvider="dbSqlMemberShipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="dbSqlMemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Linkview" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
				<!-- IMPORTANT!************************************************************* -->
				<!-- The second membership provider - sets requiresQuestionAndAnswer="false" so admin can change password without providing this information -->
				<add name="dbSqlMemberShipProviderAdmin" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Linkview" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyCMS" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<!-- IMPORTANT!************************************************************* -->
		<!-- SQLMembership ROLES Provider -->
		<roleManager enabled="true" defaultProvider="MyCMSSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
			<providers>
				<clear/>
				<add applicationName="MyCMS" connectionStringName="Linkview" name="MyCMSSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<!-- IMPORTANT!************************************************************* -->
		<!-- STANDARD SQLMembership PROFILES Provider -->
		<!--<profile defaultProvider="MyCMSSqlProfileProvider" automaticSaveEnabled="false">
            <providers>
                <clear/>
                <add name="MyCMSSqlProfileProvider" connectionStringName="Linkview" applicationName="MyCMS" type="System.Web.Profile.SqlProfileProvider"/>
            </providers>
            <properties>
                 <group name="Personal">
                    <add name="FirstName" type="String" />
                    <add name="LastName" type="String" />
                    <add name="Gender" type="String" />
                    <add name="BirthDate" type="DateTime" />
                    <add name="Occupation" type="String" />
                    <add name="Website" type="String" />
                </group>
                <group name="Address">
                    <add name="Country" type="String" />
                    <add name="Address" type="String" />
                    <add name="AptNumber" type="String" />
                    <add name="City" type="String" />
                    <add name="State" type="String" />
                    <add name="PostalCode" type="String" />
                </group>
                <group name="Contacts">
                    <add name="DayPhone" type="String" />
                    <add name="DayPhoneExt" type="String" />
                    <add name="EveningPhone" type="String" />
                    <add name="EveningPhoneExt" type="String" />
                    <add name="CellPhone" type="String" />
                    <add name="Fax" type="String" />
                </group>
                <group name="Company">
                    <add name="Company" type="String" />
                    <add name="Address" type="String" />
                    <add name="City" type="String" />
                    <add name="State" type="String" />
                    <add name="PostalCode" type="String" />
                    <add name="Phone" type="String" />
                    <add name="Fax" type="String" />
                    <add name="Website" type="String" />
                </group>
                <group name="Preferences">
                    <add name="Culture" type="String" defaultValue="en-US" />
                    <add name="Newsletter" type="String"/>
                </group>
            </properties>
        </profile>-->
		<!-- IMPORTANT!************************************************************* -->
		<!-- CUSTOM SQLMembership TABLE PROFILES Provider -->
		<profile defaultProvider="MyCMSTableProfileProvider" automaticSaveEnabled="false" enabled="true">
			<providers>
				<clear/>
				<add name="MyCMSTableProfileProvider" applicationName="MyCMS" connectionStringName="Linkview" table="aspnet_CustomProfile" type="CustomProfile.SqlTableProfileProvider"/>
				<add name="MyCMSStoredProcedureProfileProvider" applicationName="MyCMS" connectionStringName="Linkview" type="CustomProfile.SqlStoredProcedureProfileProvider" setProcedure="sp_wsat_SetCustomProfileData" readProcedure="sp_wsat_GetCustomProfileData"/>
			</providers>
			<properties>
				<group name="Personal">
					<add name="FirstName" type="String" defaultValue="[null]" customProviderData="FirstName;nvarchar"/>
					<add name="LastName" type="String" defaultValue="[null]" customProviderData="LastName;nvarchar"/>
					<add name="Gender" type="String" defaultValue="[null]" customProviderData="Gender;nvarchar"/>
					<add name="BirthDate" type="DateTime" defaultValue="[null]" customProviderData="BirthDate;datetime"/>
					<add name="Occupation" type="String" defaultValue="[null]" customProviderData="Occupation;nvarchar"/>
					<add name="Website" type="String" defaultValue="[null]" customProviderData="PersonalWebsite;nvarchar"/>
				</group>
				<group name="Address">
					<add name="Country" type="String" defaultValue="[null]" customProviderData="Country;nvarchar"/>
					<add name="Address" type="String" defaultValue="[null]" customProviderData="Address;nvarchar"/>
					<add name="AptNumber" type="String" defaultValue="[null]" customProviderData="AptNumber;nvarchar"/>
					<add name="City" type="String" defaultValue="[null]" customProviderData="City;nvarchar"/>
					<add name="State" type="String" defaultValue="[null]" customProviderData="State;nvarchar"/>
					<add name="PostalCode" type="String" defaultValue="[null]" customProviderData="PostalCode;nvarchar"/>
				</group>
				<group name="Contacts">
					<add name="DayPhone" type="String" defaultValue="[null]" customProviderData="DayPhone;nvarchar"/>
					<add name="DayPhoneExt" type="String" defaultValue="[null]" customProviderData="DayPhoneExt;nvarchar"/>
					<add name="EveningPhone" type="String" defaultValue="[null]" customProviderData="EveningPhone;nvarchar"/>
					<add name="EveningPhoneExt" type="String" defaultValue="[null]" customProviderData="EveningPhoneExt;nvarchar"/>
					<add name="CellPhone" type="String" defaultValue="[null]" customProviderData="CellPhone;nvarchar"/>
					<add name="Fax" type="String" defaultValue="[null]" customProviderData="Fax;nvarchar"/>
				</group>
				<group name="Company">
					<add name="Company" type="String" defaultValue="[null]" customProviderData="Company;nvarchar"/>
					<add name="Address" type="String" defaultValue="[null]" customProviderData="Address2;nvarchar"/>
					<add name="City" type="String" defaultValue="[null]" customProviderData="City2;nvarchar"/>
					<add name="State" type="String" defaultValue="[null]" customProviderData="State2;nvarchar"/>
					<add name="PostalCode" type="String" defaultValue="[null]" customProviderData="PostalCode2;nvarchar"/>
					<add name="Phone" type="String" defaultValue="[null]" customProviderData="Phone2;nvarchar"/>
					<add name="Fax" type="String" defaultValue="[null]" customProviderData="Fax2;nvarchar"/>
					<add name="Website" type="String" defaultValue="[null]" customProviderData="Website2;nvarchar"/>
				</group>
				<group name="Preferences">
					<add name="Culture" type="String" defaultValue="en-US" customProviderData="Culture;nvarchar"/>
					<add name="Newsletter" type="String" defaultValue="[null]" customProviderData="Newsletter;nvarchar"/>
				</group>
			</properties>
		</profile>
		<!-- IMPORTANT!************************************************************* -->
		<!-- Set compilation debug="true" to insert debugging symbols into the compiled page. Because this affects performance, set this value to true only during development. -->
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!-- IMPORTANT!************************************************************* -->
		<!-- The <authentication> section enables configuration of the security authentication mode used by ASP.NET to identify an incoming user. -->
		<authentication mode="Forms">
			<!-- Default login URL is set to "login.aspx" -->
			<forms name="MyCMSCookie" slidingExpiration="true" timeout="30" loginUrl="default.aspx" cookieless="AutoDetect" protection="All" requireSSL="false" enableCrossAppRedirects="false" defaultUrl="UserUpT2.aspx" domain="" path="/"/>
	   
    </authentication>
		<!-- IMPORTANT!************************************************************* -->
		<!-- Because the password format is set to ENCRYPTED, a machine key like below is required. If you don't want to use the one provided below, you can create your own key at: http://www.eggheadcafe.com/articles/GenerateMachineKey/GenerateMachineKey.aspx. If you set the password format to Clear or Hashed, you can delete or comment out this machine key. -->
		<machineKey decryption="AES" validation="SHA1" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validationKey="92F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D6"/>
		<!-- The <customErrors> section enables configuration of what to do if/when an unhandled error occurs during the execution of a request. Specifically, it enables developers to configure html error pages to be displayed in place of a error stack trace. -->
		<!-- IMPORTANT!************************************************************* -->
		<!-- Custom error redirect-->
		<customErrors mode="RemoteOnly" defaultRedirect="~/generic-error-page.htm">
			<error statusCode="403" redirect="~/no-access.htm"/>
			<error statusCode="404" redirect="~/file-not-found.htm"/>
		</customErrors>
		<!-- IMPORTANT!************************************************************* -->
		<!-- Pages compilation, viewstate hiddenfields -->
		<pages compilationMode="Auto" viewStateEncryptionMode="Never" renderAllHiddenFieldsAtTopOfForm="false" validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
		<!-- IMPORTANT!************************************************************* -->
		<!-- Notice HTTP handler for CAPTCHA server control in bin directory -->
		<httpHandlers>
			<add path="CaptchaImage.aspx" verb="GET" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<!-- IMPORTANT!************************************************************* -->
		<!-- Sitemap provider for admin section navigation -->
		<siteMap defaultProvider="AdminSiteMapProvider" enabled="true">
			<providers>
				<add name="AdminSiteMapProvider" description="Admin SiteMap Provider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Admin/Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<!-- IMPORTANT!************************************************************* -->
		<!-- Health Monitoring settings -->
		<healthMonitoring enabled="false" heartbeatInterval="0">
			<providers>
				<add name="MyEmailProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="your-email@your-site.com" from="healthmonitor@foo.org" subjectPrefix="Website Healthmonitoring Email" buffer="false"/>
			</providers>
			<rules>
				<add name="WebEventEmailRules" provider="MyEmailProvider" eventName="All Errors" minInstances="1" maxLimit="Infinite" minInterval="00:00:01"/>
			</rules>
		</healthMonitoring>
		<trust level="Full"/>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules></system.web>
	<!-- The system.webServer section is required for running ASP.NET AJAX under Internet Information Services 7.0.  It is not necessary for previous version of IIS. -->
	<system.webServer>
     <security>
      <requestFiltering>
        <!-- This will handle requests up to 700MB (CD700) -->
        <requestLimits maxAllowedContentLength="737280000" />
      </requestFiltering>
    </security>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/><!-- IMPORTANT!************************************************************* -->
			<!-- tell IIS to use the captcha image handler -->
			<add name="CaptchaImage" verb="*" path="CaptchaImage.aspx" preCondition="integratedMode" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers>
		<!-- IMPORTANT!************************************************************* -->
		<!-- directory browsing is set to false-->
		<directoryBrowse enabled="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules></system.webServer>
	<!-- IMPORTANT!************************************************************* -->
	<!-- SMTP email settings - configure it based on your local account or web hosting account permissions -->
	
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler>
				<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="OptionInfer" value="true"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding></runtime></configuration>
